<div class="mt-4">
    <h3>Sản phẩm của tôi</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá gốc</th>
                <th scope="col">Giá hiện tại</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.oldPrice}}</td>
                <td>{{this.currentPrice}}</td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-secondary">Sửa</a>
                    <a href="#" class="btn btn-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-product-modal">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm when delete product --}}
<div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xỏa sản phẩm?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa sản phẩm này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-product-form" method="POST"></form>

<script>
    var deleteProductModal = document.getElementById('delete-product-modal')
    var productId
    var deleteForm = document.forms['delete-product-form']

    // When dialog confirm clicked
    deleteProductModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        productId = button.getAttribute('data-bs-id')
    })

    var btnDeleteProduct = document.getElementById('btn-delete-product');

    // When delete product btn clicked
    btnDeleteProduct.onclick = () => {
        deleteForm.action = `/products/${productId}?_method=DELETE`
        deleteForm.submit()
    }
</script>