<div class="mt-4">
    <div>
        <a href="/me/stored/products">Danh sách sản phẩm</a>
        <h3>Thùng rác</h3>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá gốc</th>
                <th scope="col">Giá hiện tại</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.oldPrice}}</td>
                <td>{{this.currentPrice}}</td>
                <td>
                    <a href="" class="btn btn-secondary btn-restore" data-bs-id="{{this._id}}">Khôi phục</a>
                    <a href="#" class="btn btn-danger" data-bs-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-product-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4" class="text-center">
                    Trống.
                    <a href="/me/stored/products">Danh sách sản phẩm</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm when delete product --}}
<div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xỏa sản phẩm?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa sản phẩm này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-product-form" method="POST"></form>
<form name="restore-product-form" method="POST"></form>

<script>
    var deleteProductModal = document.getElementById('delete-product-modal')
    var productId
    var deleteForm = document.forms['delete-product-form']
    var restoreForm = document.forms['restore-product-form']
    var restoreBtnAll = document.querySelectorAll('.btn-restore')

    // When dialog confirm clicked
    deleteProductModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        productId = button.getAttribute('data-bs-id')
    })

    var btnDeleteProduct = document.getElementById('btn-delete-product');

    // When delete product btn clicked
    btnDeleteProduct.onclick = () => {
        deleteForm.action = `/products/${productId}?_method=DELETE`
        deleteForm.submit()
    }

    // Restore button clicked
    restoreBtnAll.forEach(restoreBtn => {
        restoreBtn.addEventListener('click', e => {
            e.preventDefault()
            var productId = restoreBtn.getAttribute('data-bs-id')

            restoreForm.action = `/products/${productId}/restore?_method=PATCH`
            restoreForm.submit()
        })
    })
</script>